div.charCardContainer {
  /*color: var(--color-white);*/

  background-color: transparent;
  /*border: var(--border-w-3) solid var(--color-white);*/
  border-width: var(--border-w-3);
  border-style: solid;
  border-radius: var(--border-radius-large);

  display: flex;
  flex-direction: column;
  gap: var(--space-x3);

  padding: var(--space-x5) var(--space-x6);

  /* TODO: Add hover effect that fills the background. */
}

div.charCardHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-x4);
}

a.charNameAnchor {
  font: var(--font-title);
  text-decoration: none;

  &:hover,
  &:active {
    text-decoration: underline;
  }
}

div.charCardRow {
  width: 100%;

  display: flex;
  justify-content: space-between;
}

p.charCardLabel {
  color: var(--color-gray-light);
  font: var(--font-title);
}

p.charCardValue {
  color: var(--color-white);
  font: var(--font-title);
}
