div.searchDropdown {
  --height-dropdown: 55vh;

  /* Absolute positioning is used to render results container under the search
    bar, which has relative positioning applied to it too; while keeping it out
    of document flow. The upmost container is also positioned relatively. */
  position: absolute;
  z-index: var(--z-index-search-overlay);
  /* Just under the closes relative sibling. */
  top: 115%;
  left: 0;
  right: 0;

  width: min-content;
  height: var(--height-dropdown);

  overflow-y: scroll;

  /* This hack is used to achieve a border with gradient, and due to how CSS
  works background-clip and essentially padding-box, the background color should
  be defined as a gradient too. */
  background:
    linear-gradient(var(--color-black) 0 0) padding-box,
    var(--color-gradient-ram) border-box;
  /* To not hide the gradient. */
  border: var(--border-w-3) solid transparent;
  border-radius: var(--border-radius-large);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-x3);

  padding: var(--space-x3) var(--space-x3);
}