div.previewContainer {
  width: 100%;

  display: flex;
  align-items: flex-start;
  gap: var(--space-x2);

  overflow: hidden;

  /* top right bottom left */
  padding: var(--space-x2) var(--space-x4) var(--space-x2) var(--space-x2);
}

div.charDetailsContainer {
  min-width: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--space-x1);
}

p.charName {
  font: var(--font-title-reg);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &.selected {
    color: var(--color-black);
  }
}

p.lowImportanceInfo {
  color: var(--color-gray-light);
  font: var(--font-label);
}
