svg.trailingCancelIcon {
  fill: var(--color-white);
}

button.charChip {
  color: var(--color-white);
  font: var(--font-label);

  background-color: transparent;
  border: var(--border-w-3) solid var(--color-white);
  border-radius: var(--border-radius-capsule);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-x2);

  padding: var(--space-x2) var(--space-x2) var(--space-x2) var(--space-x4);

  &:hover {
    background-color: var(--color-gray-dark);
  }

  &:active {
    background-color: var(--color-gray-mid);
  }
}
