canvas.patternBackground {
  --z-index-background: -500;
  --opacity-background: 0.55;

  position: absolute;
  z-index: var(--z-index-background);

  width: 100%;
  height: 100%;

  opacity: var(--opacity-background);
}