canvas.patternBackground {
  --z-index-background: -500;
  --opacity-background: 0.55;

  position: absolute;
  z-index: var(--z-index-background);

  /*width: 100%;
  min-height: 100%;

  flex-grow: 1;*/

  opacity: var(--opacity-background);
}