svg {
  &.rickBlue {
    fill: var(--color-rick-blue);
  }
  &.mortyYellow {
    fill: var(--color-morty-yellow);
  }
  &.summerPurple {
    fill: var(--color-summer-purple);
  }
  &.bethRed {
    fill: var(--color-beth-red);
  }
  &.jerryGreen {
    fill: var(--color-jerry-green);
  }
}

.filledThemedContainer {
  &.rickBlue {
    background-color: var(--color-rick-blue);
  }
  &.mortyYellow {
    background-color: var(--color-morty-yellow);
  }
  &.summerPurple {
    background-color: var(--color-summer-purple);
  }
  &.bethRed {
    background-color: var(--color-beth-red);
  }
  &.jerryGreen {
    background-color: var(--color-jerry-green);
  }
}

.hoverFilledThemedContainer:hover {
  & svg {
    fill: var(--color-black);
  }
  &.rickBlue {
    color: var(--color-black);
    background-color: var(--color-rick-blue);
  }
  &.mortyYellow {
    color: var(--color-black);
    background-color: var(--color-morty-yellow);
  }
  &.summerPurple {
    color: var(--color-black);
    background-color: var(--color-summer-purple);
  }
  &.bethRed {
    color: var(--color-black);
    background-color: var(--color-beth-red);
  }
  &.jerryGreen {
    color: var(--color-white);
    background-color: var(--color-jerry-green);
    & svg {
      fill: var(--color-white);
    }
  }
}

.outlinedThemedContainer {
  background-color: transparent;

  &.rickBlue {
    border-color: var(--color-rick-blue);
  }
  &.mortyYellow {
    border-color: var(--color-morty-yellow);
  }
  &.summerPurple {
    border-color: var(--color-summer-purple);
  }
  &.bethRed {
    border-color: var(--color-beth-red);
  }
  &.jerryGreen {
    border-color: var(--color-jerry-green);
  }
}

.themedContent {
  &.rickBlue {
    color: var(--color-rick-blue);
  }
  &.mortyYellow {
    color: var(--color-morty-yellow);
  }
  &.summerPurple {
    color: var(--color-summer-purple);
  }
  &.bethRed {
    color: var(--color-beth-red);
  }
  &.jerryGreen {
    color: var(--color-jerry-green);
  }
}

p,
a,
h1,
h2,
h3 {
  &.rickBlue {
    color: var(--color-rick-blue);
  }
  &.mortyYellow {
    color: var(--color-morty-yellow);
  }
  &.summerPurple {
    color: var(--color-summer-purple);
  }
  &.bethRed {
    color: var(--color-beth-red);
  }
  &.jerryGreen {
    color: var(--color-jerry-green);
  }
}
// TODO: Remove hover from input styles
input {
  &.rickBlue {
    &::before {
      background-color: var(--color-rick-blue);
    }
  }
  &.mortyYellow {
    &::before {
      background-color: var(--color-morty-yellow);
    }
  }
  &.summerPurple {
    &::before {
      background-color: var(--color-summer-purple);
    }
  }
  &.bethRed {
    &::before {
      background-color: var(--color-beth-red);
    }
  }
  &.jerryGreen {
    &::before {
      background-color: var(--color-jerry-green);
    }
  }
}
