svg {
  &.rickBlue {
    fill: var(--color-rick-blue);
  }
  &.mortyYellow {
    fill: var(--color-morty-yellow);
  }
  &.summerPurple {
    fill: var(--color-summer-purple);
  }
  &.bethRed {
    fill: var(--color-beth-red);
  }
  &.jerryGreen {
    fill: var(--color-jerry-green);
  }
}
/* TODO: Find a way to set ::before pseudo-element */
.filledThemedContainer {
  &.rickBlue {
    background-color: var(--color-rick-blue);
  }
  &.mortyYellow {
    background-color: var(--color-morty-yellow);
  }
  &.summerPurple {
    background-color: var(--color-summer-purple);
  }
  &.bethRed {
    background-color: var(--color-beth-red);
  }
  &.jerryGreen {
    background-color: var(--color-jerry-green);
  }
}

.outlinedThemedContainer {
  background-color: transparent;

  &.rickBlue {
    border-color: var(--color-rick-blue);
  }
  &.mortyYellow {
    border-color: var(--color-morty-yellow);
  }
  &.summerPurple {
    border-color: var(--color-summer-purple);
  }
  &.bethRed {
    border-color: var(--color-beth-red);
  }
  &.jerryGreen {
    border-color: var(--color-jerry-green);
  }
}

.themedContent {
  &.rickBlue {
    color: var(--color-rick-blue);
  }
  &.mortyYellow {
    color: var(--color-morty-yellow);
  }
  &.summerPurple {
    color: var(--color-summer-purple);
  }
  &.bethRed {
    color: var(--color-beth-red);
  }
  &.jerryGreen {
    color: var(--color-jerry-green);
  }
}

p,
a,
h1,
h2,
h3 {
  &.rickBlue {
    color: var(--color-rick-blue);
  }
  &.mortyYellow {
    color: var(--color-morty-yellow);
  }
  &.summerPurple {
    color: var(--color-summer-purple);
  }
  &.bethRed {
    color: var(--color-beth-red);
  }
  &.jerryGreen {
    color: var(--color-jerry-green);
  }
}

input {
  &.rickBlue {
    &:hover,
    &::before {
      background-color: var(--color-rick-blue);
    }
  }
  &.mortyYellow {
    &:hover,
    &::before {
      background-color: var(--color-morty-yellow);
    }
  }
  &.summerPurple {
    &:hover,
    &::before {
      background-color: var(--color-summer-purple);
    }
  }
  &.bethRed {
    &:hover,
    &::before {
      background-color: var(--color-beth-red);
    }
  }
  &.jerryGreen {
    &:hover,
    &::before {
      background-color: var(--color-jerry-green);
    }
  }
}
