label.searchFieldLabel {
  width: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: var(--space-x4);

  padding: var(--space-x4) var(--space-x12);

  font: var(--font-display);
  color: var(--color-white);
}

div.searchContainer {
  position: relative;
  flex: 3;
}

input.searchField {
  position: relative;
  z-index: var(--z-index-search-overlay);

  width: 100%;
  /*flex: 3;*/

  font: var(--font-display);

  caret-color: var(--color-beth-red);

  color: transparent;
  background-image: var(--color-gradient-ram);
  background-clip: text;

  overflow-x: scroll;

  /* Generated via https://kovart.github.io/dashed-border-generator/ */
  border-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23AAD3EAFF' stroke-width='1' stroke-dasharray='16%2c 12' stroke-dashoffset='19' stroke-linecap='square'/%3e%3c/svg%3e") 1 round;
  border-style: dashed;
  border-width: 0px 0px var(--border-w-6) 0px;
}