svg.themedIcon {
  fill: var(--color-white);
}

.rickBlue {
  color: var(--color-rick-blue);
  border-color: var(--color-rick-blue);

  & > svg.themedIcon {
    fill: var(--color-rick-blue);
  }
}

.mortyYellow {
  color: var(--color-morty-yellow);
  border-color: var(--color-morty-yellow);

  & > svg.themedIcon {
    fill: var(--color-morty-yellow);
  }
}

.summerPurple {
  color: var(--color-summer-purple);
  border-color: var(--color-summer-purple);

  & > svg.themedIcon {
    fill: var(--color-summer-purple);
  }
}

.bethRed {
  color: var(--color-beth-red);
  border-color: var(--color-beth-red);

  & > svg.themedIcon {
    fill: var(--color-beth-red);
  }
}

.jeffGreen {
  color: var(--color-jerry-green);
  border-color: var(--color-jerry-green);

  & > svg.themedIcon {
    fill: var(--color-jerry-green);
  }
}
