:root {
  /* #region Colors*/
  --color-black: #000000;
  --color-white: #ffffff;

  --color-rick-blue: #aad3ea;
  --color-morty-yellow: #f9f769;
  --color-beth-red: #ff6e7e;
  --color-jerry-green: #7a8f53;
  --color-summer-purple: #ff8de7;

  --color-gradient-ram: linear-gradient(to right,
      var(--color-rick-blue) 0%,
      var(--color-morty-yellow) 25%,
      var(--color-beth-red) 50%,
      var(--color-jerry-green) 75%,
      var(--color-summer-purple) 100%);
  /* #endregion */

  /* #region Layout */
  --height-ram-logo: calc(135 * var(--root-type-scale));
  /* #endregion */

  /* #region Typescale */
  /* To enable better typescaling, a small hack to use in calculations. */
  --root-type-scale: calc(1rem / 16);
  /* #endregion */
  --font-sans: ui-sans, sans;
  --font-mono: ui-monospace, monospace;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
  height: 100%;

  color-scheme: dark;
}

body {
  min-height: 100%;
  overflow-x: hidden;
}

body {
  color: var(--color-black);
}